* {
  margin: 0;
  padding: 0;
}

.background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: beige;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100vw;
}
